{$N8N_DOMAIN} {
  encode gzip zstd
  tls {$LETSENCRYPT_EMAIL}

  reverse_proxy n8n:5678

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
